/*CSS START WOOHOO FUN*/

h1 {
    color: #17504a;
    margin: 0px 0px 0px 400px;
    font-family: 'test';
}

fieldset {
    margin: 50px 380px 0px 400px;
}

h3 {
    text-align: center;
    margin: 0px 310px 0px 330px;
    font-family: ;
}

@font-face {
    font-family: 'test';
    src: url(fonts/test.otf2') format('.otf2')
         url(fonts/test.otf') format('.otf')
    font-weight: normal;
    font-style: normal;
}