/*CSS START WOOHOO FUN*/

h1 {
    color: #17504a;
    margin: 0px 0px 0px 360px;
    font-family: 'NeutraText-Bold';
    
}

fieldset {
    margin: 50px 380px 0px 400px;
}

h3 {
    text-align: center;
    margin: 0px 310px 0px 330px;
    font-family: 'NeutraText-Bold';

}

@font-face {
    font-family: 'NeutraText-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('NeutraText-Bold'), url('neutra-text-bold-5871e1605afa2.woff') format('woff');
    }

@font-face {
    font-family: 'NeutraTextTF-Book';
    font-style: normal;
    font-weight: normal;
    src: local('NeutraTextTF-Book'), url('neutra-text-tf-5871e0b0704ed.woff') format('woff');
    }

@font-face {
    font-family: 'NeutraText-BookAlt';
    font-style: normal;
    font-weight: normal;
    src: local('NeutraText-BookAlt'), url('neutra-text-alt-587261020eccb.woff') format('woff');
    }